@import "tailwindcss";

@custom-variant dark (&:is(.dark *));


@theme inline {
  --font-dm-sans: var(--font-dm-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray-100: var(--gray-100);
}

:root {
  --background: #F3F4F6;
  --foreground: #1F2937;
  --primary: #ffffff;
  --secondary: #3758F9;
  --gray-100: #6B7280;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  body {
    @apply bg-background text-foreground font-dm-sans
  }
}