@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme inline {
  --font-dm-sans: var(--font-dm-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-700: var(--gray-700);
  --color-gray-900: var(--gray-900);
  --color-border: var(--border);


  /* Dashboard Colors */
  --color-body-primary-dash: var(--body-primary-dash);
  --color-body-secondary-dash: var(--body-secondary-dash);
  --color-card-background-dash: var(--card-background-dash);
  --color-tab-background-dash: var(--tab-background-dash);
  --color-tab-text-dash: var(--tab-text-dash);
  --color-text-title-dash: var(--text-title-dash);
  --color-text-secondary-dash: var(--text-secondary-dash);
  --color-text-color-dash: var(--text-color-dash);
  --color-text-gray-400-dash: var(--text-gray-400-dash);
  --color-border-dash: var(--border-dash);
  --color-border-secondary-dash: var(--border-secondary-dash);
  --color-button-text-dash: var(--button-text-dash);
  --color-success-light-background: var(--success-light-background);
  --color-error-light-background: var(--error-light-background);
  --color-warning-light-background: var(--warning-light-background);
}

:root {
  --background: #F3F4F6;
  --foreground: #1F2937;
  --primary: #ffffff;
  --secondary: #3758F9;
  --gray-100: #6B7280;
  --gray-200: #9CA3AF;
  --gray-700: #374151;
  --gray-900: #111827;
  --border: #D1D5DB;


  /* -------- Dashboard---------- */
  --body-primary-dash: #FFFFFF;
  --body-secondary-dash: #F9FAFB;
  --card-background-dash: #FFFFFF;
  --tab-background-dash: #F2F4F7;
  --tab-text-dash: #101828;
  --text-title-dash: #1D2939;
  --text-secondary-dash: #667085;
  --text-color-dash: #344054;
  --text-gray-400-dash: #98A2B3;
  --border-dash: #E4E7EC;
  --border-secondary-dash: #F2F4F7;
  --button-text-dash: #344054;
  --success-light-background: #ECFDF3;
  --error-light-background: #FEF3F2;
  --warning-light-background: #FFFAEB;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #111827;
  --secondary: #3758F9;


  /* -------- Dashboard---------- */
  --body-primary-dash: #101828;
  --body-secondary-dash: #101828;
  --card-background-dash: #ffffff08;
  --tab-background-dash: #1D2939;
  --tab-text-dash: #101828;
  --text-title-dash: #ffffffe6;
  --text-secondary-dash: #98A2B3;
  --text-color-dash: #98A2B3;
  --text-gray-400-dash: #98A2B3;
  --border-dash: #1D2939;
  --border-secondary-dash: #1D2939;
  --button-text-dash: #344054;
  --success-light-background: #12b76a26;
  --error-light-background: #f0443826;
  --warning-light-background: #f7900926;
}

@layer base {
  body {
    @apply bg-background text-foreground font-dm-sans leading-[150%]
  }

  button {
    @apply cursor-pointer
  }
}

@utility container {
  @apply mx-auto px-4;

  @variant 2xl {
    max-width: 1312px
  }
}